<ion-grid>
  <ion-row>
    <ion-col size="2">
      <ion-progress-bar
        [value]="idEstado >= 3 ? 1 : 0"
        [type]="
          idEstado >= 3
            ? idEstado === 3
              ? 'indeterminate'
              : 'determinate'
            : 'determinate'
        "
      ></ion-progress-bar>
    </ion-col>
    <ion-col size="2">
      <ion-progress-bar
        [value]="idEstado >= 4 ? 1 : 0"
        [type]="
          idEstado >= 4
            ? idEstado === 4
              ? 'indeterminate'
              : 'determinate'
            : 'determinate'
        "
      ></ion-progress-bar>
    </ion-col>
    <ion-col size="2">
      <ion-progress-bar
        [value]="idEstado >= 5 ? 1 : 0"
        [type]="
          idEstado >= 5
            ? idEstado === 5
              ? 'indeterminate'
              : 'determinate'
            : 'determinate'
        "
      ></ion-progress-bar>
    </ion-col>
    <ion-col size="2">
      <ion-progress-bar
        [value]="idEstado >= 6 ? 1 : 0"
        [type]="
          idEstado >= 6
            ? idEstado === 6
              ? 'indeterminate'
              : 'determinate'
            : 'determinate'
        "
      ></ion-progress-bar>
    </ion-col>
    <ion-col size="2">
      <ion-progress-bar
        [value]="idEstado >= 7 ? 1 : 0"
        [type]="
          idEstado >= 7
            ? idEstado === 7
              ? 'indeterminate'
              : 'determinate'
            : 'determinate'
        "
      ></ion-progress-bar>
    </ion-col>
    <ion-col size="2">
      <ion-progress-bar
        [value]="idEstado >= 6 ? 1 : 0"
        [type]="
          idEstado >= 6
            ? idEstado === 6
              ? 'indeterminate'
              : 'determinate'
            : 'determinate'
        "
      ></ion-progress-bar>
    </ion-col>
  </ion-row>
</ion-grid>
