<app-header [backButton]="true"></app-header>

<ion-content>
  <ion-list *ngIf="resenas.length > 0 && !cargando">
    <ion-list-header>
      <ion-label>Reseñas</ion-label>
    </ion-list-header>
    <ion-item-sliding>
      <ion-item *ngFor="let resena of resenas">
        <ion-label>
          <ion-text color="primary">
            <h2>Pedido {{resena.idPedido}}</h2>
          </ion-text>
          <ion-text class="ion-text-wrap" color="medium">
            <p class="detalle">Comentarios: {{resena.comentario}}</p>
          </ion-text>
        </ion-label>
        <ion-icon
          size="small"
          color="warning"
          [name]="resena.valoracion >= 1 ? 'star' : 'star-outline'"
        ></ion-icon>
        &nbsp;&nbsp;
        <ion-icon
          size="small"
          color="warning"
          [name]="resena.valoracion >= 2 ? 'star' : 'star-outline'"
        ></ion-icon>
        &nbsp;&nbsp;
        <ion-icon
          size="small"
          color="warning"
          [name]="resena.valoracion >= 3 ? 'star' : 'star-outline'"
        ></ion-icon>
        &nbsp;&nbsp;
        <ion-icon
          size="small"
          color="warning"
          [name]="resena.valoracion >= 4 ? 'star' : 'star-outline'"
        ></ion-icon>
        &nbsp;&nbsp;
        <ion-icon
          size="small"
          color="warning"
          [name]="resena.valoracion >= 5 ? 'star' : 'star-outline'"
        ></ion-icon>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
  <ion-card *ngIf="resenas.length === 0 && !cargando">
    <ion-card-header>
      <ion-card-title>¡Ups! 😱</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        <p class="info">Parece que aún no tienes reseñas.</p>
      </ion-text>
    </ion-card-content>
  </ion-card>
  <ion-list *ngIf="cargando">
    <ion-list-header>
      <ion-label>
        <ion-skeleton-text
          animated
          style="width: 35%; height: 20px"
        ></ion-skeleton-text>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-icon slot="end" color="light" name="chevron-forward"></ion-icon>
      <ion-label>
        <ion-skeleton-text
          animated
          style="width: 75%; height: 18; padding-bottom: 5px"
        ></ion-skeleton-text>
        <ion-skeleton-text
          animated
          style="width: 45%; height: 16px"
        ></ion-skeleton-text>
      </ion-label>
      <ion-icon size="small" color="light" [name]="'star'"></ion-icon>
      &nbsp;&nbsp;
      <ion-icon size="small" color="light" [name]="'star'"></ion-icon>
      &nbsp;&nbsp;
      <ion-icon size="small" color="light" [name]="'star'"></ion-icon>
      &nbsp;&nbsp;
      <ion-icon size="small" color="light" [name]="'star'"></ion-icon>
      &nbsp;&nbsp;
      <ion-icon size="small" color="light" [name]="'star'"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" color="light" name="chevron-forward"></ion-icon>
      <ion-label>
        <ion-skeleton-text
          animated
          style="width: 75%; height: 18; padding-bottom: 5px"
        ></ion-skeleton-text>
        <ion-skeleton-text
          animated
          style="width: 45%; height: 16px"
        ></ion-skeleton-text>
      </ion-label>
      <ion-icon size="small" color="light" [name]="'star'"></ion-icon>
      &nbsp;&nbsp;
      <ion-icon size="small" color="light" [name]="'star'"></ion-icon>
      &nbsp;&nbsp;
      <ion-icon size="small" color="light" [name]="'star'"></ion-icon>
      &nbsp;&nbsp;
      <ion-icon size="small" color="light" [name]="'star'"></ion-icon>
      &nbsp;&nbsp;
      <ion-icon size="small" color="light" [name]="'star'"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="end" color="light" name="chevron-forward"></ion-icon>
      <ion-label>
        <ion-skeleton-text
          animated
          style="width: 75%; height: 18; padding-bottom: 5px"
        ></ion-skeleton-text>
        <ion-skeleton-text
          animated
          style="width: 45%; height: 16px"
        ></ion-skeleton-text>
      </ion-label>
      <ion-icon size="small" color="light" [name]="'star'"></ion-icon>
      &nbsp;&nbsp;
      <ion-icon size="small" color="light" [name]="'star'"></ion-icon>
      &nbsp;&nbsp;
      <ion-icon size="small" color="light" [name]="'star'"></ion-icon>
      &nbsp;&nbsp;
      <ion-icon size="small" color="light" [name]="'star'"></ion-icon>
      &nbsp;&nbsp;
      <ion-icon size="small" color="light" [name]="'star'"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
