<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344985409523-q6saf4jrub4s5ofihr8fnc85clc8qg47.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344985409523-q6saf4jrub4s5ofihr8fnc85clc8qg47</string>
	<key>API_KEY</key>
	<string>AIzaSyAgudEePSofdz4Ik91SFU_38xUfmrICcGY</string>
	<key>GCM_SENDER_ID</key>
	<string>344985409523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jg.entregasApp</string>
	<key>PROJECT_ID</key>
	<string>entregasapp-d3883</string>
	<key>STORAGE_BUCKET</key>
	<string>entregasapp-d3883.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344985409523:ios:fe241542e9d5980f5fe486</string>
</dict>
</plist>