<app-header [backButton]="true"></app-header>


<ion-content>
  <ion-item (click)="crear()" lines="none">
    <ion-icon size="large" slot="start" color="dark" name="add"></ion-icon>
    <ion-label>
      <ion-text color="primary">
        <h1>Nuevo pedido</h1>
      </ion-text>
      <ion-text class="ion-text-wrap" color="medium">
        <p color="medium">
          Crea un nuevo pedido
        </p>
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-item (click)="pedidosPendientes()" lines="none">
    <ion-icon size="large" slot="start" color="dark" name="time"></ion-icon>
    <ion-label>
      <ion-text color="primary">
        <h1>Pedidos pendientes</h1>
      </ion-text>
      <ion-text class="ion-text-wrap" color="medium">
        <p color="medium">
          Da seguimiento a un pedido pendiente de entrega
        </p>
      </ion-text>
    </ion-label>
  </ion-item>
  <ion-item (click)="pedidosHistoricos()" lines="none">
    <ion-icon size="large" slot="start" color="dark" name="calendar"></ion-icon>
    <ion-label>
      <ion-text color="primary">
        <h1>Pedidos históricos</h1>
      </ion-text>
      <ion-text class="ion-text-wrap" color="medium">
        <p color="medium">
          Verifica los pedidos que haz hecho
        </p>
      </ion-text>
    </ion-label>
  </ion-item>
</ion-content>
